:root {
  /* ---Background Colors---- */
  --bg-color-black-shade: #0c0d10;
  --bg-color-light-grey-shade: #ebecf7;
  --bg-color-light-grey-shade-2: #ebecf6;
  --bg-color-blue-shade: #00aeef;

  /* ---Text Colors---- */
  --txt-white-color: #ffffff;
  --txt-blue-color: #00aeef;
  --txt-black-color: #1e1e1e;
  --txt-dark-gery-color: #727272;

  /* ---Border Colors---- */
  --bd-white-color: #ffffff;
  --bd-blue-color: #00aeef;

  /* ---Gradient Colors---- */
  --grad-linear-blackish-shade: linear-gradient(
    252.61deg,
    #000000 -0.22%,
    rgba(0, 0, 0, 0) 108.72%
  );
}

body {
  font-family: sans-serif;
  font-style: normal;
}

/* ************************  Customized Classes  *********************** */

/* margin */
.me-6 {
  margin-right: 6rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

/* padding */

.my-6 {
  padding-top: 12.5rem;
  padding-bottom: 5rem;
}

/* ##############################  Header  ################################## */

/* ---Header Logo--- */
.header_logo img {
  width: 200px;
  object-fit: cover;
  background-size: cover;
}

.transparent__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
}

.transparent__header.scrolled {
  background-color: var(--bg-color-black-shade);
  transition: background-color 0.3s ease-in-out;
}

/* ---Header Toggle Button--- */

.header__navbar__light .header__navbar_toggler {
  border-color: var(--bd-white-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navbar__light .navbar-toggler-icon {
  background-image: none !important;
}

.header__navbar__light .navbar-toggler-icon i {
  font-weight: 400;
  font-size: 30px;
  color: var(--txt-white-color) !important;
}

.header__navbar_toggler:focus {
  box-shadow: none !important;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0px;
  box-shadow: none !important;
}

/* ---Header NavBar Button--- */

.header__navbar__nav {
  gap: 2rem;
}

.header__navbar__nav li a {
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-white-color) !important;
  transition: 0.2s ease-in-out;
}

.header__navbar__nav li a:hover {
  color: var(--txt-blue-color) !important;
}

/* DropDown Menu */

.header__dropdown_item {
  background-color: var(--bd-white-color) !important;
  color: var(--txt-black-color) !important;
  font-weight: 400;
  font-size: 16px;
}

.header__dropdown_item:active {
  color: var(--txt-black-color) !important;
  text-decoration: none;
  background-color: var(--bd-white-color) !important;
}

.header__navbar__nav__dropdown .header__dropdown__menu .header__dropdown_item {
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-black-color) !important;
  transition: 0.2s ease-in-out;
}

.header__navbar__nav__dropdown
  .header__dropdown__menu
  .header__dropdown_item:hover {
  color: var(--txt-blue-color) !important;
}

/* ---Header Social Button--- */

.fa-solid,
.fas {
  font-weight: 900 !important;
}

.header__social__icons {
  display: flex;
  gap: 2rem;
}

.header__social__icons i {
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-white-color) !important;
  transition: 0.2s ease-in-out;
}

.header__social__icons i:hover {
  color: var(--txt-blue-color) !important;
}

/* ##############################  Main  ################################## */

/* ---------------------------Hero Banner-------------------------- */

.hero__banner__bg {
  position: relative;
  display: inline-block;
}

.hero__banner__bg img {
  display: block;
  width: 100%;
  height: 100vh;
  /* height: auto; */
}

.hero__banner__gradient__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    252.61deg,
    #000000 -0.22%,
    rgba(0, 0, 0, 0) 108.72%
  );
  opacity: 0.6; /* Adjust the opacity as needed */
  z-index: 1;
}

.hero__banner__bg img {
  animation: zoom-out 10s linear;
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* ---carousel items content--- */

.hero__carousel__item {
  text-align: left;
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: text-up 12s linear infinite;
  transform: translateY(100px);
  animation-delay: 0s;
}

@keyframes text-up {
  10% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hero__carousel__item h6 {
  font-weight: 700;
  font-size: 16px;
  color: var(--txt-blue-color);
}

.hero__carousel__item h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--txt-white-color);
}

.hero__carousel__item h1 span {
  font-weight: 700;
  font-size: 40px;
  color: var(--txt-blue-color);
}

.hero__carousel__item p {
  color: var(--txt-white-color);
  font-weight: 400;
  font-size: 16px;
}

/* ---------carousel content buttons---------- */

.hero__banner__carousel__buttons {
  gap: 2rem;
}

/* ---button 1--- */

.carousel__btn__primary_1 {
  border-radius: 8px !important;
  background: transparent !important;
  font-weight: 700 !important;
  font-size: 18px;
  color: var(--txt-white-color);
  border: 1px solid var(--bd-white-color) !important;
  padding: 10px 20px !important;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.carousel__btn__primary_1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8px;
  z-index: -2;
}
.carousel__btn__primary_1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-color-blue-shade);
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.carousel__btn__primary_1:hover {
  color: var(--txt-white-color);
  border: 1px solid var(--bd-blue-color) !important;
}
.carousel__btn__primary_1:hover:before {
  width: 100%;
}

/* ---button 2--- */

.carousel__btn__primary_2 {
  border-radius: 8px !important;
  background: var(--bg-color-blue-shade) !important;
  font-weight: 700 !important;
  font-size: 18px;
  color: var(--txt-white-color);
  border: 1px solid var(--bd-blue-color) !important;
  padding: 10px 20px !important;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.carousel__btn__primary_2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color-blue-shade);
  border-radius: 8px;
  z-index: -2;
}
.carousel__btn__primary_2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-color-light-grey-shade-2);
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.carousel__btn__primary_2:hover {
  color: var(--txt-blue-color) !important;
  border: 1px solid var(--bd-white-color) !important;
}
.carousel__btn__primary_2:hover:before {
  width: 100%;
}

/* ---------Media Query-------- */
/* Add media queries for responsiveness */
@media (max-width: 767px) {
  .carousel__row {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__carousel__item {
    top: 40%;
  }
  .hero__carousel__item h6 {
    font-weight: 700;
    font-size: 14px;
    color: var(--txt-blue-color);
  }

  .hero__carousel__item h1 {
    font-weight: 700;
    font-size: 16px;
    color: var(--txt-white-color);
  }

  .hero__carousel__item h1 span {
    font-weight: 700;
    font-size: 16px;
    color: var(--txt-blue-color);
  }

  .hero__carousel__item p {
    color: var(--txt-white-color);
    font-weight: 400;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero__carousel__item {
    top: 45%;
  }
  .hero__carousel__item h6 {
    font-weight: 700;
    font-size: 16px;
    color: var(--txt-blue-color);
  }

  .hero__carousel__item h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--txt-white-color);
  }

  .hero__carousel__item h1 span {
    font-weight: 700;
    font-size: 30px;
    color: var(--txt-blue-color);
  }

  .hero__carousel__item p {
    color: var(--txt-white-color);
    font-weight: 400;
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1240px) {
  .hero__carousel__item {
    top: 40%;
  }
  .hero__carousel__item h6 {
    font-weight: 700;
    font-size: 16px;
    color: var(--txt-blue-color);
  }

  .hero__carousel__item h1 {
    font-weight: 700;
    font-size: 40px;
    color: var(--txt-white-color);
  }

  .hero__carousel__item h1 span {
    font-weight: 700;
    font-size: 40px;
    color: var(--txt-blue-color);
  }

  .hero__carousel__item p {
    color: var(--txt-white-color);
    font-weight: 400;
    font-size: 16px;
  }
}

/* ------------------Providing Electric Vehicle Bannar--------------------- */

/* ----column 1----- */

.providing__vehicle__banner__img {
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
}

.providing__vehicle__banner__img img {
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.customer__count {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: var(--bg-color-blue-shade);
  color: white;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 48px;
  font-weight: bold;
}

.customer__count p {
  font-weight: 400;
  font-size: 16px;
}

/* ----column 2----- */

/* ---Banner content--- */

.banners__content__1 {
  text-align: left;
}

.banners__content__1 h6 {
  font-weight: 700;
  font-size: 16px;
  color: var(--txt-blue-color);
}

.banners__content__1 h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--txt-black-color);
}

.banners__content__1 h1 span {
  font-weight: 700;
  font-size: 40px;
  color: var(--txt-blue-color);
}

.banners__content__1 p {
  color: var(--txt-black-color);
  font-weight: 400;
  font-size: 16px;
}

/* ---Banner content buttons---  */

.content__btn__primary {
  border-radius: 8px !important;
  background: var(--bg-color-blue-shade) !important;
  font-weight: 700 !important;
  font-size: 18px;
  color: var(--txt-white-color);
  border: 1px solid var(--bd-blue-color) !important;
  padding: 10px 20px !important;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.content__btn__primary:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color-blue-shade);
  border-radius: 8px;
  z-index: -2;
}
.content__btn__primary:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-color-black-shade);
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}
.content__btn__primary:hover {
  color: var(--txt-blue-color) !important;
  border: 1px solid var(--bd-white-color) !important;
}
.content__btn__primary:hover:before {
  width: 100%;
}

/* Media Query */

@media (min-width: 768px) and (max-width: 1200px) {
  .banners__content__1 h6 {
    font-weight: 700;
    font-size: 16px;
    color: var(--txt-blue-color);
  }

  .banners__content__1 h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--txt-black-color);
  }

  .banners__content__1 h1 span {
    font-weight: 700;
    font-size: 30px;
    color: var(--txt-blue-color);
  }

  .banners__content__1 p {
    color: var(--txt-black-color);
    font-weight: 400;
    font-size: 16px;
  }
}
/* ##############################  Footer  ################################## */
